<main class="form-signin">
  <form action="/login" method="post">
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Entre no sistema</h1>

    {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
    {{/if}}

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="username" />
      <label for="email">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" />
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>