<main>
  <div class="container">
    <h1>Encomendas</h1>
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary" href="/orders/create">
        <i class="bi bi-plus-lg mr-2"></i>
        Criar
      </a>
    </div>
    {{#if orders.length}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Retirada</th>
          <th scope="col">Cliente</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders }}
        <tr>
          <td>{{ date this.dateToBeDone }}</td>
          <td>{{ this.customer.name }}</td>
          <td>
            <a href="/orders/{{ this.id }}/edit">Editar</a>
          </td>
        </tr>
        {{/each }}
      </tbody>
    </table>
    {{ else }}
    <p>Não há encomendas cadastradas</p>
    {{/if}}
  </div>
</main>